<html>
<head>
    <title>
        New Year!
    </title>
    <style>
        h1 {
            text-align:center;
        }
        .greetings {
            color: #FFFFFF;
            background: #ffffff;
            font-size: 50px;
            text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;

        }

    </style>
</head>
<body>
    <h1>Happy New Year</h1>
<div class="greetings">
    {{name}}, давайте сделаем этот год годом исполнения желаний и совместных приключений!
</div>
</body>
</html>