<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1>
            Chat
        </h1>
        <a href="http://127.0.0.1:8080/greeting">Change site</a>


    </div>

    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Input message">
            <input type="text" name="tag" placeholder="tag">
            <button type="submit"> Add </button>
        </form>
    </div>


</body>
</html>